<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kol.kolwiki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET" />    

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ThingViewer"
            android:label="@string/app_name" >           
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemViewer" >
        </activity>
        <activity
            android:name=".MonsterAdapter"
            android:label="@string/title_activity_viewer" >
        </activity>
        
<!--         <activity -->
<!--             android:name=".ThingViewer" -->
<!--             android:label="@string/title_activity_thing_viewer" > -->
<!--         </activity> -->
        <activity
            android:name=".Card"
            android:label="@string/title_activity_card" >
        </activity>
    </application>
    
</manifest>
